* {
  margin: 0px;
  padding: 0px;
  user-select: none;
}

body {
  background-color: transparent;
  overflow: hidden;
}

#radio {
  border-bottom: 0;
  position: absolute;
  right: 20px;
  bottom: 50px;
}
